* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: slateblue;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.5rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    line-height: 100px;
}

.hover {
    transform: scale(2);
}